* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    /* margin: 0; */
    /* padding: 0; */
    /* text-align: center; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background: #f3c9d1; */
    background: #edfeec;
}
.container{
    display: flex;
    justify-content: space-evenly;
    height: 89.5vh;
    /* border: 5px solid salmon; */
    /* padding: 10px;*/
    box-sizing: border-box;
}
.diceNum{
    visibility: hidden;
}
.gamebox{
    height: 509px;
    width: 509px;
    /* height: 100%; */
    /* width: 100%; */
    /* border: 3px solid black; */
    background-image: url(Assets/Snake-and-ladder-wallpapers\(free\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    align-items: center;
    justify-items: center;
    transition: all 2s ease-in-out;   
}
.menu{
    height: 508px;
    width: 30%;
    /* border: 4px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1{
    box-sizing: border-box;
    padding-top: 2px;
    height: 25px;
    width: 25px;
    border: 2px solid rgb(0, 152, 0);
    border-radius: 50%;
    background-color: rgb(176, 255, 58);
    opacity: 0.9;
    grid-row: 10;
    grid-column: 1;
    text-align: center;
    animation: move ease-in-out 0.5s;
    transition: all 2s ease-in-out;
    z-index: 2;
}
.p2{
    box-sizing: border-box;
    padding-top: 2px;
    height: 25px;
    width: 25px;
    border: 2px solid rgb(190, 10, 0);
    border-radius: 50%;
    background-color: salmon;
    opacity: 1;
    grid-row: 10;
    grid-column: 1;
    text-align: center;
    transition: all 2s ease-in-out;
}

/* .menu button{
    height: 50px;
    width: 50px;
} */

.change{
    transition: all .3s ease-in-out;
}
/*
    Roll Button styles
*/

.roll {
    cursor: pointer;
    color: #b33951;
    margin-top: 60px;
    padding: 6px 12px;
    border-radius: 3px;
    font: 700 16px 'Montserrat';
    border: 2px solid #b33951;
    transition: .4s;
}

/* .roll:hover {
    color: #fff;
    background: #b33951;
} */

/* 3D Dice Animation styles */
.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

@keyframes rolling {
    50% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg, #dddbd8, #fff
    );
}

.face::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}

.face::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}

.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateX(180deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px;
}

.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
                0 25px,
                40px 25px,
                0 50px,
                40px 50px;
}

.top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}

.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
    0 40px,
    40px 40px;
}

.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
                50px 50px;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.roll:hover:not(:disabled) {
    color: #fff;
    background: #b33951;
}

.roll:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
    color: #b33951;
}